server:
  port: 8080

database:
  host: localhost
  port: 3306
  user: root
  password: 123456
  dbname: feedsystem

redis:
  host: localhost
  port: 6379
  password: 123456
  db: 0

rabbitmq:
  host: localhost
  port: 5672
  username: admin
  password: password123
  